.body {
  max-width: 1440px;
  margin: 0 auto;
}

.mainpage {
  height: 100vh;
}

.header {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  padding-left: 47px;
}

.navigation a {
  font: 15px/18px montserratsemibold, sans-serif;
  cursor: pointer;
  margin-right: 44px;
}

.navigation__link_active {
  padding-bottom: 5px;
  border-bottom: 1px solid #e51937;
  color: #e51937;
}

.menu a {
  cursor: pointer;
  font: 15px/18px montserratsemibold, sans-serif;
  margin-right: 30px;
}

.main {
  background: url('img/tesla-wordmark.png') top no-repeat;
  background-size: contain;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.main__title {
  font: 9vh/11vh montserrat, sans-serif;
  font-weight: 600;
  margin: 0;
}

.main__subtitle {
  font: 15px/18px 'montserratmedium', sans-serif;
  margin: 0;
}

.tesla{ 
  max-width: 105vh;
}

.description {
  display: flex;
  flex-direction: row;
}

.speed,
.road {
  display: flex;
  margin-right: 80px;
}

.wheel {
  display: flex;
  margin-right: 50px;
}

.number {
  font: 35px/22px montserratsemibold, sans-serif;
}

.dimension {
  font: 20px/22px montserratsemibold, sans-serif;
}

.text_bottom {
  font: 12px/15px montserratregular, sans-serif;
}

.wheel__desc {
  font: 13px/16px montserratbold, sans-serif;
  align-self: center;
}

.icon_speed {
  align-self: center;
  width: 53px;
  height: 41px;
  margin-right: 14px;
}

.icon_road {
  width: 29px;
  height: 57px;
  align-self: center;
  margin-right: 14px;
}

.icon_redwheel {
  display: none;
}

.icon_wheel {
  width: 22px;
  height: 22px;
  margin-right: 7px;
  align-self: center;
}

.btn__order {
  width: 160px;
  height: 40px;
  border: 2px solid #e51937;
  align-self: center;
  color: #e51937;
  background: white;
  font: 13px/16px montserratbold, sans-serif;
  cursor: pointer;
}

.scrool {
  cursor: pointer;
}

@media (max-width: 1000px) {
  .logo {
    padding-left: 0;
  }
}

@media (max-width: 1100px) {
  .mainpage {
    height: 920px;
  }

  .menu,
  .navigation {
    display: none;
  }

  .menumobile {
    height: 50px;
    margin-right: 30px;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    cursor: pointer;
  }

  .menumobile span {
    width: 35px;
    margin: 3px auto;
    display: block;
    height: 3px;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    background: #e51937;
  }

  .header {
    height: 83px;
    margin-bottom: 0;
  }

  .main {
    background: url('img/tesla-wordmark.png') no-repeat;
    background-position-y: 6vh;
    background-size: contain;
  }

  .main__subtitle {
    margin-bottom: 12px;
  }

  .tesla {
    width: 95vw;
  }

  .description {
    width: 62vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 25px;
  }

  .speed {
    width: 240px;
  }

  .road {
    padding-right: 0;
  }

  .wheel__desc {
    font: 16px/20px montserratbold, sans-serif;
    color: #e51937;
  }

  .icon_wheel {
    display: none;
  }

  .icon_redwheel {
    display: block;
    width: 30px;
    height: 30px;
    align-self: center;
    padding-right: 15px;
  }

  .btn__order {
    width: 220px;
    height: 55px;
    background: #e51937;
    color: white;
    font: 16px/20px montserratbold, sans-serif;
  }
}

@media (max-width: 900px) {
  .description {
    width: 83vw;
  }
}

@media (max-width: 670px) {
  .speed {
    width: 175px;
    margin-right: 42px;
  }
}

@media (max-width: 530px) {
  .mainpage {
    height: 600px;
  }

  .header {
    height: 75px;
  }

  .logo {
    width: 138px;
  }

  .menumobile span {
    width: 24px;
  }

  .main__title {
    font: 50px/61px montserratbold, sans-serif;
  }

  .main__subtitle {
    font: 10px/12px montserratmedium, sans-serif;
  }

  .main {
    background: url('img/tesla-wordmark.png') no-repeat;
    background-position-y: 20%;
    background-size: contain;
  }

  .description {
    width: 100vw;
    margin-bottom: 35px;
  }

  .speed {
    width: 160px;
    margin-right: 20px;
  }

  .road {
    margin-right: 50px;
  }

  .icon_speed {
    width: 38px;
    height: 28px;
  }

  .icon_road {
    width: 22px;
    height: 35px;
  }

  .number {
    font: 27px/20px montserratsemibold, sans-serif;
  }

  .dimension {
    font: 15px/14px montserratbold, sans-serif;
  }

  .text_bottom {
    font: 10px/10px montserratregular, sans-serif;
   }

  .icon_redwheel {
    width: 22px;
    height: 22px;
   }

  .wheel__desc {
    font: 13px/16px montserratbold, sans-serif;
  }

  .btn__order {
    width: 160px;
    height: 40px;
    font: 13px/16px montserratbold, sans-serif;
  }
}

@media (max-width: 370px) {
  .speed {
    width: 122px;
  }

  .wheel {
    margin-right: 25px;
  }

  .btn__order {
    width: 140px;
  }
}

/* вторая секция */
.advantage {
  width: 100%;
  background: url('img/rulj.png') left bottom no-repeat;
  background-size: contain;
  display: flex;
  justify-content: space-between;
}

.advantage__title {
  font: 70px/85px montserratsemibold, sans-serif;
  padding-left: 77px;
  color: #e51937;
}

.sidebar {
  height: 100%;
  width: 28%;
  right: 0;
  background: #e51937;
  padding-left: 50px;
  color: white;
}

.sidebar__title {
  font: 30px/35px montserratsemibold, sans-serif;
  padding-top: 3vh;
  margin: 0;
  margin-bottom: 5px;
}

.sidebar__discription {
  font: 15px/18px montserratmedium, sans-serif;
}

.list {
  list-style: none;
  padding-left: 0;
  margin-bottom: 170px;
}

.list p {
  margin: 15px;
}

.icon_dujm,
.icon_po,
.icon_litr {
  display: flex;
  align-items: center;
}

.icon_screen {
  width: 36px;
  height: 53px;
}

.icon_wifi {
  width: 44px;
  height: 34px;
}

.icon_bag {
  width: 36px;
  height: 52px;
}

.po {
  font: 20px/18px montserratsemibold, sans-serif;
}

.button {
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;
}

.button__more {
  display: flex;
  align-items: center;
}

.more__sign {
  width: 22px;
  height: 22px;
  margin-right: 5px;
}

.know {
  font: 13px/16px montserratbold, sans-serif;
  cursor: pointer;
}

.button__order {
  border: 2px solid white;
  color: white;
  background: #e51937;
  font: 13px/16px montserratbold, sans-serif;
  text-transform: uppercase;
  margin-right: 30px;
}

/* планшет */
@media (max-width: 1270px) {
  .sidebar {
    width: 35%;
  }
}

@media (max-width: 1165px) {
  .advantage {
    height: 900px;
    width: 100%;
    background: url('img/rulj-planshet.png') top no-repeat;
    background-size: contain;
    display: flex;
    flex-direction: column;
  }

  .advantage__title {
    padding-left: 54%;
    margin-top: 3%;
  }

  .sidebar {
    width: 100%;
    height: 51%;
    padding-left: 0;
    display: grid;
    grid-template-columns: 53% 47%;
    grid-template-rows: 80% 20%;
  }

  .sidebar__title,
  .sidebar__discription {
    grid-column: 1/2;
    grid-row: 1/2;
    padding-left: 50px;
  }

  .sidebar__discription {
    padding-top: 90px;
  }

  .list {
    grid-column: 2/3;
    padding-top: 35px;
    margin-bottom: 0;
  }

  .button {
    grid-column: 1/3;
    display: flex;
    justify-content: center;
  }

  .button__more {
    padding-right: 120px;
  }
}

@media (max-width: 790px) {
  .sidebar {
    width: 100%;
    height: 55%;
  }

  .sidebar__title,
  .sidebar__discription {
    padding-left: 25px;
  }

  .list {
    padding-left: 40px;
  }
}

@media (max-width: 670px) {
  .advantage__title,
  .list,
  .button {
    display: none;
  }

  .advantage {
    height: 580px;
    width: 100%;
    background: url('img/rulj-planshet.png') top no-repeat;
    background-size: contain;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
  }

  .sidebar {
    display: flex;
    flex-direction: column;
    height: 58%;
  }

  .sidebar__title,
  .sidebar__discription {
    margin: 0 auto;
  }

  .sidebar__title {
    padding: 20px 0;
  }

  .sidebar__discription {
    padding: 0;
  }
}

@media (max-width: 383px) {
  .advantage {
    height: 568px;
  }

  .sidebar {
    height: 64%;
  }
}

/* 3section */
.safety {
  width: 100%;
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: 100%;
}

.sidebar__safety {
  grid-column: 1/3;
  grid-row: 1/2;
}

.protect__list {
  margin-bottom: 100px;
}

.protect__list_link {
  display: flex;
  justify-content: space-between;
  margin-right: 90px;
  margin-bottom: 16px;
  font: 17px/21px montserratbold, sans-serif;
}

.list_star {
  height: 22px;
}

.security {
  display: flex;
  align-items: center;
}

.security__icon {
  width: 62px;
  height: 74px;
  margin-right: 20px;
}

.star {
  font: 33px/36px montserratsemibold, sans-serif;
}

.star_security {
  font: 25px/30px montserratsemibold, sans-serif;
}

.safety__img {
  grid-column: 2/3;
  grid-row: 1/2;
  background: url('img/ModelS.png') right no-repeat;
  background-position-y: 17%;
  background-size: 70%;
}

.carinside {
  padding-top: 175px;
  padding-left: 50px;
  width: 90%;
}

.footer {
  grid-column: 2/3;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  }

.footer__main {
  padding-top: 58px;
  font: 8px/15px montserratbold, sans-serif;
}

.footer__webhero {
  font: 16px/15px montserratbold, sans-serif;
  color: #ffd22e;
  cursor: pointer;
}

.footer__school {
  font: 11px/15px montserratmedium, sans-serif;
  color: black;
  padding-left: 48%;
}

@media (max-width: 1275px) {
  .carinside {
    padding-left: 105px;
  }
}

/* планшет */
@media (max-width: 1165px) {
  .security,
  .footer {
    display: none;
  }

  .safety {
    height: 900px;
    display: grid;
    grid-template-rows: 57% 43%;
  }

  .safety__img {
    grid-column: 1/3;
    background: url(img/ModelS.png) center no-repeat;
    background-position-y: 2%;
    background-size: 55%;
  }

  .sidebar__safety {
    height: 100%;
    grid-row: 2/3;
  }

  .sidebar__discription_safety {
    padding-top: 120px;
    line-height: 22px;
  }

  .protect {
    grid-column: 2/3;
    grid-row: 1/2;
  }

  .protect__subtitle {
    padding-left: 0;
  }

  .protect__list {
    padding-top: 0;
  }

  .protect__list_link {
    margin-right: 155px;
  }

  .carinside {
    padding-top: 3%;
    padding-left: 0;
    width: 78%;
    margin: 0 auto;
  }
}

@media (max-width: 930px) {
  .protect__list_link {
    margin-right: 64px;
  }
}

@media (max-width: 790px) {
  .carinside {
    padding-top: 11%;
    width: 88%;
  }

  .protect__list {
    padding-left: 0;
  }

  .list_star {
    height: 18px;
  }

  .sidebar__title {
    font-size: 26px;
  }

  .safety__img {
    background-position-y: 14%;
    background-size: 61%;
  }
}

@media (max-width: 670px) {
  .safety {
    grid-template-rows: 44% 56%;
  }

  .sidebar__discription_safety {
    padding-top: 0;
  }

  .protect {
    display: none;
  }
}

@media (max-width: 500px) {
  .safety {
    height: 670px;
  }
}

@media (max-width: 350px) {
  .safety {
    height: 560px;
  }

  .sidebar__discription {
    font-size: 13px;
  }
}

